[tool.poetry]
name = "{{ project_name }}"
version = "{{ version }}"
description = ""
authors = ["{{ author }} <{{ email }}>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.13"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
